.main{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    background-image: url(./img/background.jpeg);
}
.lain {
    margin: 50px 20px 50px 20px;
}
.plane {
    transform: rotate(45deg);
}
.main2{
   flex-wrap: wrap;
}
.infocard {
    flex-basis: 300px;
    flex-grow: 1;
}